.jogao{
    color: white !important;
    margin-top: 150px;
    margin-left: 700px;
}

.descricao{
    font-size: 15px;
    color: white;
    max-width: 300px;
    margin-left: 700px;
    padding-top: 20px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 700px;
  max-width: 300px;
  padding-top: 10px;
}

.tags {
  margin: 0;
  font-size: 15px;
  color: aliceblue;
}

.tagss {
  font-size: 10px;
  color: white;
}

.avlctitulo {
    color: aliceblue;
    margin-left: 700px;
    padding-top: 40px;
}

.avaliacao {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin-left: 700px;
    text-align: center;
    padding-top: 20px;
  }

  .chart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px; /* aumentei para visualização melhor */
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .bar-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
  }

  .bar-fill {
    width: 40px;
    background: linear-gradient(180deg, #f39c12, #f1c40f);
    border-radius: 6px 6px 0 0;
    transition: height 1s ease;
    height: 0; /* começa em zero, será alterado pelo JS */
  }

  .count {
    margin-top: 6px;
    font-weight: bold;
    font-size: 14px;
  }

  .label {
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
  }